@media screen and (max-width: 479px) {
  body {
    width: 100%;
    margin: 0 auto; }
  #mobilenav {
    display: block;
    height: auto;
    padding: 10px;
    margin: 0; }
    #mobilenav .navbar-brand {
      color: #707070 !important; }
    #mobilenav .active {
      color: #505050; }
    #mobilenav .navbar-toggler {
      position: absolute;
      right: 10px; }
    #mobilenav .navbar-nav a {
      color: #b6b6b6; }
  #section1 {
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 100%;
    background: none; }
    #section1 .navgrid {
      display: none; }
    #section1 .bellemaison {
      width: 100%;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
      text-shadow: none;
      animation-name: fadeIn;
      animation-duration: 1.5s;
      animation-delay: .5s;
      animation-fill-mode: forwards;
      opacity: 0; }
      #section1 .bellemaison h1 {
        color: #242424;
        font-size: 20vw; }
        #section1 .bellemaison h1 span {
          font-style: italic; }
      #section1 .bellemaison h2 {
        color: #252525;
        font-size: 3vw;
        font-family: Arial, Helvetica, sans-serif !important;
        font-weight: 100;
        letter-spacing: 3px; }
  #section2 {
    display: none; }
  #section3 {
    margin: 96px auto 40px auto;
    height: auto;
    width: 90%; }
    #section3 .descriptiongrid {
      display: block; }
      #section3 .descriptiongrid .elegant {
        font-family: Arial, Helvetica, sans-serif !important;
        color: grey;
        letter-spacing: 2px;
        text-align: center;
        padding: 0 0 20px 0; }
      #section3 .descriptiongrid .description {
        color: #8d8d8d;
        font-size: 5vw;
        text-align: center; }
        #section3 .descriptiongrid .description p {
          margin: 0 0 50px 0; }
        #section3 .descriptiongrid .description a {
          text-decoration: none;
          font-family: Arial, Helvetica, sans-serif !important;
          letter-spacing: 3px;
          font-size: 12px;
          color: #98bd9b;
          height: 70px;
          width: 200px;
          padding: 20px 20px;
          border: 2px solid #98bd9b;
          transition: all .1s ease-in; }
          #section3 .descriptiongrid .description a:hover {
            color: whitesmoke;
            border: 2px solid #6a856c;
            background: #6a856c; }
  #section4 {
    width: 100%; }
  #section5 {
    margin: 162px auto 0 auto;
    height: auto;
    width: 100%; }
    #section5 .infogrid {
      display: block; }
      #section5 .infogrid .location h1 {
        color: #727272;
        font-size: 20px;
        text-align: center;
        margin: 0 0 50px 0; }
      #section5 .infogrid .location .googlemap {
        position: relative;
        background: url(../img/googlemap.jpg) no-repeat center center;
        height: 395px;
        width: 100%; }
        #section5 .infogrid .location .googlemap a {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 395px;
          width: 350px;
          opacity: 0;
          padding: 120px 120px; }
      #section5 .infogrid .socials {
        text-align: center;
        padding: 35px 0 0 0; }
        #section5 .infogrid .socials a {
          text-decoration: none;
          color: #727272;
          font-size: 20px;
          border-bottom: 1px solid #727272; }
          #section5 .infogrid .socials a:hover {
            color: #363636; }
        #section5 .infogrid .socials .sixgrid {
          margin: 45px 0 0 0;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-row-gap: 10px;
          grid-column-gap: 10px; }
          #section5 .infogrid .socials .sixgrid .six1 {
            background: url(../img/six1.jpg) no-repeat center center;
            height: 207px;
            width: auto; }
          #section5 .infogrid .socials .sixgrid .six2 {
            background: url(../img/six2.jpg) no-repeat center center;
            height: 207px;
            width: auto; }
          #section5 .infogrid .socials .sixgrid .six3 {
            background: url(../img/six3.jpg) no-repeat center center;
            height: 207px;
            width: auto; }
          #section5 .infogrid .socials .sixgrid .six4 {
            background: url(../img/six4.jpg) no-repeat center center;
            height: 207px;
            width: auto; }
          #section5 .infogrid .socials .sixgrid .six5 {
            background: url(../img/six5.jpg) no-repeat center center;
            height: 207px;
            width: auto; }
          #section5 .infogrid .socials .sixgrid .six6 {
            background: url(../img/six6.jpg) no-repeat center center;
            height: 207px;
            width: auto; }
  #section6 {
    width: 100%;
    margin: 50px 0 0 0; }
  /* =================== G A L L E R Y ======================*/
  /*1025px ======================================================== 1025px*/
  /*1025px ======================================================== 1025px*/
  /* =================== G A L L E R Y ======================*/
  #gallerynav .gallerynavgrid {
    display: block;
    text-align: center;
    padding: 50px 0 0 0; }
    #gallerynav .gallerynavgrid a {
      color: black;
      text-decoration: none; }
    #gallerynav .gallerynavgrid .brand {
      font-size: 28px;
      letter-spacing: 3px; }
    #gallerynav .gallerynavgrid .gallery {
      font-size: 20px;
      margin: 0 0 50px 0;
      color: whitesmoke;
      letter-spacing: 3px; }
      #gallerynav .gallerynavgrid .gallery a {
        border-bottom: 1px solid #c5c5c5; }
    #gallerynav .gallerynavgrid .contactUs {
      border: 2px solid #c5c5c5;
      padding: 20px;
      font-family: Arial, Helvetica, sans-serif !important;
      letter-spacing: 2px; }
  #gallery {
    margin: 100px 0 0 0; }
    #gallery .gallerygrid {
      display: block;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 2%; }
      #gallery .gallerygrid .picture1 {
        background: url(../img/gallery1.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery .gallerygrid .picture1:hover {
          opacity: .9; }
      #gallery .gallerygrid div .picture2 {
        margin: 50px 0 0 0;
        background: url(../img/six6.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery .gallerygrid div .picture2:hover {
          opacity: .9; }
      #gallery .gallerygrid div .picture3 {
        margin: 50px 0 0 0;
        background: url(../img/gallery3.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery .gallerygrid div .picture3:hover {
          opacity: .9; }
  #gallery2 {
    margin: 50px 0 0 0; }
    #gallery2 .gallerygrid2 {
      display: block;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 2%; }
      #gallery2 .gallerygrid2 div .picture4 {
        margin: 50px 0 0 0;
        background: url(../img/gallery4.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery2 .gallerygrid2 div .picture4:hover {
          opacity: .9; }
      #gallery2 .gallerygrid2 div .picture5 {
        margin: 50px 0 0 0;
        background: url(../img/gallery5.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery2 .gallerygrid2 div .picture5:hover {
          opacity: .9; }
      #gallery2 .gallerygrid2 .picture6 {
        margin: 50px 0 0 0;
        background: url(../img/gallery6.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery2 .gallerygrid2 .picture6:hover {
          opacity: .9; }
  #gallery3 {
    margin: 50px 0 0 0; }
    #gallery3 .gallerygrid3 {
      display: block;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 2%; }
      #gallery3 .gallerygrid3 .picture7 {
        margin: 50px 0 0 0;
        background: url(../img/gallery7.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery3 .gallerygrid3 .picture7:hover {
          opacity: .9; }
      #gallery3 .gallerygrid3 div .picture8 {
        margin: 50px 0 0 0;
        background: url(../img/gallery8.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery3 .gallerygrid3 div .picture8:hover {
          opacity: .9; }
      #gallery3 .gallerygrid3 div .picture9 {
        margin: 50px 0 0 0;
        background: url(../img/gallery9.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery3 .gallerygrid3 div .picture9:hover {
          opacity: .9; }
  #gallery4 {
    margin: 50px 0 0 0; }
    #gallery4 .gallerygrid4 {
      display: block;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 2%; }
      #gallery4 .gallerygrid4 div .picture10 {
        margin: 50px 0 0 0;
        background: url(../img/gallery10.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery4 .gallerygrid4 div .picture10:hover {
          opacity: .9; }
      #gallery4 .gallerygrid4 div .picture11 {
        margin: 50px 0 0 0;
        background: url(../img/gallery11.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery4 .gallerygrid4 div .picture11:hover {
          opacity: .9; }
      #gallery4 .gallerygrid4 .picture12 {
        margin: 50px 0 0 0;
        background: url(../img/gallery12.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery4 .gallerygrid4 .picture12:hover {
          opacity: .9; }
  #gallery5 {
    margin: 50px 0 0 0; }
    #gallery5 .gallerygrid5 {
      display: block;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 2%; }
      #gallery5 .gallerygrid5 .picture13 {
        margin: 50px 0 0 0;
        background: url(../img/gallery13.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery5 .gallerygrid5 .picture13:hover {
          opacity: .9; }
      #gallery5 .gallerygrid5 div .picture14 {
        margin: 50px 0 0 0;
        background: url(../img/gallery14.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery5 .gallerygrid5 div .picture14:hover {
          opacity: .9; }
      #gallery5 .gallerygrid5 div .picture15 {
        margin: 50px 0 0 0;
        background: url(../img/gallery15.jpg) no-repeat center center;
        background-size: cover;
        height: 500px;
        width: auto;
        transition: all .3s ease-in-out; }
        #gallery5 .gallerygrid5 div .picture15:hover {
          opacity: .9; } }
